<head hx-head="append">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <div hx-get="/header.html" hx-target="#body" hx-trigger="load" hx-swap="afterbegin"></div>
    <div hx-get="/webring_loader.html" hx-target="this" hx-trigger="load" hx-swap="outerHTML"></div>
    <div hx-get="/footer.html" hx-target="#body" hx-trigger="load" hx-swap="beforeend"></div>
</head>
