@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
:root {
  font-family: 'Fira Code', monospace;
}
div {
    display: block;
}

.pure-menu-heading {
    text-transform: none;
    font-size:1.5em;
}
.home-menu {
    padding: 2em;
    float: left;
}
.home-menu ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
}
body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}


footer {
    font-size: 0.8rem;
}
