<div hx-ext="client-side-templates">
    <div hx-get="https://sitring.eric.si/nad2040/neighbors"
        hx-target="#webring-prev"
        hx-trigger="load"
        hx-swap="innerHTML"
        mustache-template="wr-left"></div>
    <div hx-get="https://sitring.eric.si/nad2040/neighbors"
        hx-target="#webring-next"
        hx-trigger="load"
        hx-swap="innerHTML"
        mustache-template="wr-right"></div>
    <div hx-get="https://sitring.eric.si/nad2040/random"
        hx-target="#webring-random"
        hx-trigger="load"
        hx-swap="innerHTML"
        mustache-template="wr-random"></div>
    <template id="wr-left">
        <a href="{{0.url}}" target="_blank" rel="noopener noreferrer">{{0.name}}</a>
    </template>
    <template id="wr-random">
        <a href="{{url}}" target="_blank" rel="noopener noreferrer">Random</a>
    </template>
    <template id="wr-right">
        <a href="{{1.url}}" target="_blank" rel="noopener noreferrer">{{1.name}}</a>
    </template>
</div>
